<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Shop{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/products.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/product_detail.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/edit_product.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin_products.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/add_product.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin_orders.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin_audit_logs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin_order_details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_orders.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_order_details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cart.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/checkout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset_password.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/payment_success.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/view_invoice.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
</head>
<body>
    <div id="flipkart-navbar">
        <div class="container">
            <div class="d-none d-md-block col-lg-12">
                <ul class="list-inline d-flex justify-content-end">
                    <li class="p-2 list-inline-item"><a href="/"><strong>HOME</strong></a></li>
                    <li class="p-2 list-inline-item"><a href="/products"><strong>PRODUCTOS</strong></a></li>
                    {% if user_role == 'client' %}
                        <li class="p-2 list-inline-item"><a href= "/user/orders">MIS ORDENES</a></li>
                    {% endif %}
                    {% if user_role == 'admin' %}
                        <li class="p-2 list-inline-item"><a href="/admin/products">PANEL DE CONTROL</a></li>
                        <li class="p-2 list-inline-item"><a href="/admin/orders">VER ORDENES</a></li>
                        <li class="p-2 list-inline-item"><a href="/admin/audit_logs">VER AUDIT LOGS</a></li>
                    {% endif %}
                    {% if session.token %}
                        <li class="p-2 list-inline-item"><a href="/cart">CARRITO ({{ cart_count }})</a></li>
                        <li class="p-2 list-inline-item"><a href="/auth/profile"><strong>PERFIL</strong></a></li>
                        <li class="p-2 list-inline-item">
                            <form action="{{ url_for('auth.logout') }}" method="post" style="display:inline;">
                                <button type="submit">SALIR</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="p-2 list-inline-item"><a href="/auth/login"><strong>ENTRAR</strong></a></li>
                        <li class="p-2 list-inline-item"><a href="/auth/register"><strong>REGISTRARSE</strong></a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="row d-flex justify-content-around align-items-center">
                <div class="col-lg-2 col-sm-1 p-2">
                    <h2 class="d-none d-md-block">TiendaMia</h2>
                </div>
                <div class="col-lg-8 col-sm-8 p-2 text-center">
                    <form action="/search" method="get">
                        <div class="row">
                            <input type="text" class="flipkart-navbar-input col-lg-10 col-sm-9" placeholder="Buscar productos" name="q">
                            <button type="submit" class="flipkart-navbar-button rounded-right col-lg-2 col-sm-3">
                                <span class="oi oi-magnifying-glass"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
