{% extends "base.html" %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="reset-password-content">
        <h2 class="reset-password-heading">Recuperar Contraseña</h2>
        <form action="{{ url_for('auth.reset_password') }}" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" required><br>
            </div>
            <div class="form-group">
                <label for="dni">DNI:</label>
                <input type="text" name="dni" id="dni" required><br>
            </div>
            <div class="form-group">
                <label for="password">Contraseña Nueva:</label>
                <input type="password" name="password" id="password" required><br>
            </div>
            <button class="btn-reset-password" type="submit">Recuperar Contraseña</button>
        </form>
        <div class="no-account">
            <p>¿Recordaste tu contraseña? <a href="{{ url_for('auth.login') }}">Volver al inicio de sesión</p>
        </div>
    </div>
</div>
{% endblock %}