@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #eee !important;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 100px);
    padding-top: 20px;
}

.reset-password-content {
    max-width: 380px;
    padding: 15px 35px 45px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 50px;
}

.reset-password-heading {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 2em;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-group input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-reset-password {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s;
}

.btn-reset-password:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.checkbox {
    margin-bottom: 20px;
    font-weight: normal;
}

.no-account {
    text-align: center;
    margin-top: 20px;
    white-space: nowrap; /* Ensure text stays on one line */
}

.no-account a,
.form-group .btn-secondary {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.no-account a:hover,
.form-group .btn-secondary:hover {
    text-decoration: underline;
}
